
.vs/linked-lists/FileContentIndex/14f73e70-8639-45b4-9da1-0ab89f0bedde.vsidx
.vs/linked-lists/v17/Browse.VC.db
.vs/linked-lists/v17/Browse.VC.db-shm
.vs/linked-lists/v17/Browse.VC.opendb
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/linked-lists/v17/Browse.VC.db-wal
.vs/linked-lists/FileContentIndex/ba88e926-633f-40e3-a765-8da46fcb6fbb.vsidx
.vs/linked-lists/FileContentIndex/3a06ea19-b617-4ad6-a527-4d8ea9889d0c.vsidx
.vs/linked-lists/FileContentIndex/a6e56119-7b40-46b1-96b9-0d1e14bb5c82.vsidx
/.vs
